.contact {
    text-align: center;
    color: #9dcadd;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.info div {
    flex: 1; /* Allow even spacing between elements */
    text-align: center; /* Optional: Center-align each section */
    font-weight: bold;
}
